.editForm{
    max-width: 20%;
    margin: 0 auto;
}
.form-group{
    margin-bottom: 5px;
}
.form-group input[type="text"]{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

