.nav{
  display: flex;
  background-color:grey;
  justify-content: space-between;
}
.nav div {
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    color: white;
}

.selected{
  background-color: lightgray;
}

.link{
  text-decoration: none;
}