.PincodeDetails{
    margin-top: 10px;
    text-align:center;
}

.PincodeDetails-table{
    max-width: 500px;
    margin: 0 auto;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
tr:hover {background-color:#f5f5f5;}
