.App{
  background-color: lightgray;
  text-align: center;
  height: 100%;
}

.btn{
  background-color: #3b3d3b;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}

.App-main{
  margin-top: 10px;
  height:100%;
}